<header class="masthead bg-primary w-100 text-white text-center inicio">
    <div class="container d-inline-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../../assets/imgs/avataaars.svg">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Empleados</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Guarda - Edita - Borra tus empleados</p>
        <br>
        <button type="button" routerLink="add" class="btn btn-info btn-lg">Empezar</button>
    </div>
</header>
